.wrapper {
	width: 100%;
	float: left;
	height: 456px;
}
.wrapper > .column {
	width: 50%;
	position: absolute;
	z-index: 1;
	text-align:center;
	color: white;
}
.first-col {
	background: #91be01;
	opacity: 1;
	left: 0;
	height: 400px;
}
.second-col {
	background: #f8931f;
	opacity: 1;
	left: 50%;
	height: 400px;
}
.why-us {
	margin-top: 30px;
}
#why-us h1 {
	text-align: center;
}
ul li {
	list-style: none;
	line-height: 2;
}
#why-us .user-heading {
	margin-top: 0.5cm;
}
#why-us .heading {
	margin-bottom: 0.5cm;
}