.wrapper {
	width: 100%;
	float: left;
	height: 100%;
}
.wrapper > .column {
	width: 50%;
	position: absolute;
	z-index: 1;
	text-align:center;
}
.first-col {
	background: #91be01;
	opacity: 1;
	left: 0;
	height: 400px;
}
.second-col {
	background: #f8931f;
	opacity: 1;
	left: 50%;
	height: 400px;
}
.why-us {
	margin-top: 30px;
}
#why-us h1 {
	text-align: center;
}