@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 50px 0 0 0;
}
#footer .footer-download .apple,#footer .footer-download .google-playstore{
    background: none;
    color: #eee;
    height: 54px;
    line-height: 50px;
    min-width: 0;
    width: 100%;
    max-width: 280px;
    margin: 10px;
    margin: 0 auto;
    text-transform: uppercase;
    border: 2px solid #eee;
    padding: 10px;
    margin-right: 6px;
}
#footer .footer-download .apple:hover,#footer .footer-download .google-playstore:hover{
    background: white;
    color: #424242;
}
.footer-download .fa {
    margin-right: 5px;
}
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #424242;
    clear: both;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
#footer .email,#footer .phone-number,#footer .address {
    color: white;
    margin-bottom: 10px;
}
#footer .email i,#footer .phone-number i,#footer .address i {
    margin-right: 5px;
    font-size: 20px;
    transition: .5s all ease;
}
#footer .nav-link {
    padding: 0;
}
@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}